---
import type { Heading } from '../../types'
import { makeToc } from '../../utils'
import NestedList from './NestedList.astro'

interface Props {
  headings: Heading[]
}

const { headings } = Astro.props
---

<ul class="toc">
  {
    makeToc(headings).map(({ slug, text, nestedList }) => {
      if (nestedList)
        return <NestedList slug={slug} text={text} nestedList={nestedList} />

      return (
        <li>
          <a href={`#${slug}`}>{text}</a>
        </li>
      )
    })
  }
</ul>

<style>
  li:has(.active) > a {
    transition: color 0.25s ease-out;
    @apply text-purple-500;
  }
</style>
