---
import type { ToC } from '../../types'
import { cx } from 'class-variance-authority'

interface Props {
  nestedList: ToC
  slug: string
  text: string
}

const { nestedList, slug, text } = Astro.props
const linkStyles = cx('[&:is(.active)]:text-purple-600 [transition:color_0.25s_ease-out]')
---

<>
  <li>
    <a class={linkStyles} href={`#${slug}`}>{text}</a>
  </li>
  <li>
    <ul>
      {
        nestedList.map(({ slug, text, nestedList }) =>
          nestedList ? (
            <Astro.self slug={slug} text={text} nestedList={nestedList} />
          ) : (
            <li>
              <a class={linkStyles} href={`#${slug}`}>
                {text.replace(/:$/, '')}
              </a>
            </li>
          )
        )
      }
    </ul>
  </li>
</>
